@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@model SistemaVenda.Models.LoginViewModel;

<link href="~/css/Login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fade">
            <div class="logo"></div>
            <img src="~/img/logo.png" id="icon" />
            <div class="logo"></div>
        </div>

        <div class="mb-3">
        <!-- Login Form -->
            <form asp-controller="Login" asp-action="Index" method="post">

                <input asp-for="Email" type="text" id="login" class="fadeIn second" placeholder="Email">
                <span asp-validation-for="Email" style="color:red;"></span>
                <input asp-for="Senha" type="password" id="password" class="fadeIn third" placeholder="Senha">
                <span asp-validation-for="Senha" style="color:red;"></span>
                <br />
                <input type="submit" class="fadeIn fourth" value="Entrar" />
                <br />
                <span style="color:red;">@ViewData["ErroLogin"]</span>

            </form>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueceu a senha?</a>
        </div>

    </div>
</div>